<%= form_for amazon_account, url: amazon_account_path do |f| %>
  <% if(has_errors?(amazon_account)) %>
    <% content_for :messages do %>
      <div class="errors">
        <ul>
          <% error_messages(amazon_account) do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
  <div class="form-group">
    <%= f.label :merchant_id %>
    <%= f.text_field :merchant_id, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :marketplace_id %>
    <%= f.text_field :marketplace_id, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :auth_token %>
    <%= f.text_field :auth_token, class: 'form-control' %>
  </div>
  <%= f.submit 'Save', class: 'btn btn-success' %>
<% end %>

