<script type="text/javascript">
ShopifyApp.ready(function(){
    ShopifyApp.Bar.initialize({
title: "Home",
icon: "<%= asset_path('faveicon.png') %>"
});
    });
</script>
<h3>Products</h3>
<%= form_tag push_amazon_products_path, method: 'POST', remote: true do %>
  <div class='buttons'>
    <%= link_to pull_amazon_products_path,
      class: 'btn btn-success pull-products-btn',
      disabled: pulling_amazon_products?,
      remote: true,
      method: :put do %>
      <% if pulling_amazon_products? %>
        Pulling Amazon products
      <% else %>
        Pull Amazon products
      <% end %>
    <% end %>
    <%= submit_tag 'Push Selected', title: 'Push selected products to shopify', class: 'btn btn-primary' %>
    <%= link_to 'Push All', push_amazon_products_path(all: true), title: 'Push all products to shopify', class: 'btn btn-primary', remote: true, method: :post %>
  </div>
  <div class='pagination-wrapper'>
    <%= paginate products, theme: 'twitter-bootstrap-3' %>
  </div>
  <table class='table table-hover products'>
    <thead>
      <th>
        <%= check_box_tag 'push_all', true, false %>
        <label for='push_all'></label>
      </th>
      <th>Title</th>
      <th>Asin</th>
      <th>Price</th>
      <th>Seller SKU</th>
      <th># variants</th>
    </thead>
    <tbody>
      <% products.each do |product| %>
        <%= render partial: "product_row", locals: { product: product } %>
        <% product.variants.each do |variant| %>
          <%= render partial: "product_row", locals: { product: variant } %>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <div class='pagination-wrapper'>
    <%= paginate products, theme: 'twitter-bootstrap-3' %>
  </div>
<% end %>
