<tr class='<%= row_class(product) %>' data-parent-id='<%= product.parent_id %>'>
  <td>
    <% if product.is_parent? %>
      <%= check_box_tag 'product_ids[]', product.id %>
    <% end %>
  </td>
  <td class='title'>
    <% if product.is_parent? %>
      <span class="glyphicon glyphicon-plus-sign parent-icon" data-parent-id=<%= product.id %> ></span>
    <% elsif product.is_variant? %>
      <span class="glyphicon glyphicon-triangle-right child-icon" ></span>
    <% end %>
    <a href='<%= product.amazon_url %>' target="_blank"> <%= product.title %> </a>
  </td>
  <td><%= product.price %></td>
  <td><%= product.seller_sku %></td>
  <td><%= product.variants.count %></td>
</tr>
